body {
    background-color: black;
  }
  
  .button {
    width: 100%;
  }
  
  .title {
    text-align: center;
    font-size: 100px;
    font-family: sans-serif;
    color: rgb(240, 248, 255);
  }
  .album {
    margin: 35%;
    width: 30%;
    height: 30%;

  }
  .artist {
    text-align: center;
    font-size: 25px;
    color: rgb(240, 248, 255);
  }
  
.sub{
  width: 0%;
  height: 0%;
  color:rgb(240, 248, 255);    
  text-align: center;
}